.commonInputfield_container {
  position: relative;
  transition: all 0.3s ease;
}
.commonfield_label {
  font-weight: 500 !important;
  margin-bottom: 6px !important;
}
.common_inputfield {
  height: 32px !important;
}
.common_inputfield:hover {
  border-color: #d9d9d9 !important;
}
.common_inputfield:focus {
  border-color: #9c75efaf !important;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #9c75ef34 !important;
}
.common_errorinputfield {
  height: 32px !important;
  border-color: rgb(255, 77, 79) !important;
}
.common_errorinputfield:focus {
  border-color: rgb(255, 77, 79) !important;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(255, 77, 80, 0.137) !important;
}
.commoninput_errormessagediv {
  position: absolute;
  left: 0%;
  opacity: 0;
}
.commoninput_errormessage_activediv {
  top: 99%;
  /* transform: translateY(2%); */
  transform: translateX(2%);
  opacity: 1;
  position: absolute;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}
.commonbutton {
  width: 100%;
  height: 32px;
  background-color: #9c75ef !important;
  border-color: #9c75ef !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  font-weight: 600 !important;
  border-radius: 7px !important;
  color: white !important;
}
.commonbutton:hover {
  opacity: 0.7;
}
.commonbutton:active {
  box-shadow: 3px 2px 22px 1px #9c75ef;
  transform: scale(0.9);
}
